@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

body{
    font-family: "Bungee", sans-serif;
    
    color: #bd2727;
    color: #79FF82;
    color: #f0d853;
    color: beige;
    color: #242424;
    color: #181818;
}